@font-face {
  font-family: bembo;
  src: url(../assets/fonts/bembo/bembostd.woff), url(../assets/fonts/bembo/bembostd.woff2);
  font-weight: 400;
}

:root {
  --colorWhite: white;
  --colorBlack: black;
  --colorAccent: #1dff00;
  --colorGrey: #ebebeb;
  --colorDarkGrey: #767474;
  --fontPrimary: bembo, serif;
  --fontSecundary: gill-sans-nova, sans-serif;
  --fontFutura: futura-pt, sans-serif;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightBold: 700;
  --fontWeightMedium: 500;
}
