:root {
  --colorWhite: white;
  --colorBlack: #211f1f;
  --colorAccent: #1dff00;
  --colorGrey: #ebebeb;
  --s-0: 1rem;
  --s-1: 1.5rem;
  --s-2: 2rem;
  --fontPrimary: 'EB Garamond', serif;
  --fontSecundary: gill-sans-nova, sans-serif;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightBold: 700;
}
