@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

/* GENERAL */

body {
  font-family: var(--fontSecundary);
  font-weight: var(--fontWeightLight);
  width: 100%;
  overflow-x: hidden;
  background-color: var(--colorGrey);
}

li {
  line-height: 1.8;
}

.pagetitle {
  font-size: var(--fontBig);
}

.menu__check {
  opacity: 0;
}

.menu__check--label {
  z-index: 2000;
  position: fixed;
  right: 1rem;
  top: -3rem;
  height: 100px;
  transition: top 1s linear;
}

.menu__wrapper {
  border: solid black .5rem;
  background-color: var(--colorBlack);
  width: 100%;
  position: fixed;
  top: -1rem;
  height: 0;
  transition: height 1s linear;
  overflow: scroll;
}

.menu__check:checked + .menu__check--label {
  top: calc(100vh - 100px);
}

.menu__check:checked ~ .menu__wrapper {
  background-color: var(--colorBlack);
  position: fixed;
  width: 100%;
  height: calc(100vh - 25px);
  color: white;
  z-index: 1000;
}

.menu__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;

}

.menu__navigation {
  padding: 2rem;
}

.navigation__list {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation__list--item {
  font-size: 1.5rem;
}

.navigation__list--link {
  color: var(--colorWhite);
  text-decoration: none;
}

.bembo {
  font-family: var(--fontPrimary);
  font-weight: var(--fontWeightRegular);
}

.navigation__link--sub {
  font-family: var(--fontSecundary);
  font-size: 1rem;
  margin-top: -1rem;
}

.italic {
  font-style: italic;
  line-height: 0;
}

/* HEADER */

.header {
  z-index: -1;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 1fr / 1fr;
  overflow: hidden;
}

.header__bg {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(7, 1fr);
  gap: .5rem;
  height: 90vh;
  width: 98vw;
  margin: auto;
}

.header__title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}

.header__bg--whitespace {
  grid-column: 1 / 8;
  grid-row: 6 / 8;
}

.header__title--text {
  margin-top: 1rem;
}

.header__title--small {
  margin-bottom: -1rem;
  margin-left: .4rem;
  font-size: 1.5rem;
}

.header__title--big {
  font-family: var(--fontPrimary);
  font-weight: var(--fontWeightRegular);
  font-size: 5rem;
}

.header__title--initial {
  width: 130px;
  height: 140px;
  margin-top: -1.5rem;
}

.header__title--cta {
  grid-column: 2 / 7;
  grid-row: 12 / 13;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 1rem;
}

.header__letter {
  font-family: var(--fontPrimary);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: -1;
}

@keyframes floating {

  from { transform: translate(0, 0 px); }

  65% { transform: translate(0, 15px); }

  to { transform: translate(0, -0); }

}

.header__letter--s {
  font-size: .8rem;
}

.header__letter--m {
  font-size: 1rem;
}

.header__letter--l {
  font-size: 1.5rem;
}

.header__letter--xl {
  font-size: 2rem;
}

.header__letter--tc {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.header__letter--tl {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.header__letter--tr {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.header__letter--bc {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.header__letter--bl {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}

.header__letter--lc {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.header__letter--rc {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.header__letter--c {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* PROLOGUE */

.prologue {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.prologue__paintings {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(36, 30px);
}

.prologue__paintings > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.prologue__painting--1 {
  grid-column: 2 / 7;
  grid-row: 21 / 27;
}

.prologue__painting--2 {
  grid-column: 11 / 19;
  grid-row: 5 / 11;
}

.prologue__painting--3 {
  grid-column: 6 / 10;
  grid-row: 28 / 33;
}

.prologue__painting--4 {
  grid-column: 12 / 16;
  grid-row: 12 / 19;
}

.prologue__painting--5 {
  grid-column: 4 / 9;
  grid-row: 12 / 18;
}

.prologue__painting--6 {
  grid-column: 3/ 7;
  grid-row: 5 / 9;
}

.prologue__painting--7 {
  grid-column: 19 / 11;
  grid-row: 20 / 23;
}

.prologue__painting--8 {
  grid-column: 12 / 18;
  grid-row: 25 / 32;
}

.prologue__painting--9 {
  display: none;

}

.prologue__painting--10 {
  display: none;
}

.prologue__painting--11 {
  display: none);
}

.prologue__painting--12 {
  display: none;
}

.prologue__painting--13 {
  display: none;
}

/* TITLE TITLE TITLE TITLE*/

.chapter__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.chapter__title--text {
  font-size: 2.5rem;
}

.chapter__title--initial {
  margin-left: 1.5rem;
}

.chapter__title--chapter {
  font-size: 1.5rem;
}

.chapter__title--text > span {
  font-family: var(--fontPrimary);
  font-weight: var(--fontWeightRegular);
  color: var(--colorAccent);
}

.accent {
  font-family: var(--fontPrimary);
  font-weight: var(--fontWeightRegular);
  color: var(--colorAccent);
}

.chapter__title--rect {
  display: none;
}

.chapter__content--strong {
  font-family: var(--fontPrimary);
  text-transform: uppercase;
  font-weight: var(--fontWeightRegular);
  line-height: 0;
}

.chapter__title-s {
  display: none;
}

/* CHAPTER GENERAL CHAPTER GENERAL CHAPTER GENERAL */
/* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

.chapters {
  width: 100%;
  overflow-x: hidden;
}

.chapter__content--p {
  font-size: calc(22.4px + (28 - 22.4) * ((100vw - 320px) / (425 - 320)));
  line-height: 1.4;
  margin: 1.5rem;
  margin-bottom: 3.5rem;
}

.chapter__content--desktop {
  display: none;
}

.text__right {
  text-align: right;
}

/* CHAPTER1 CHAPTER1 CHAPTER1 CHAPTER1 */

.chapter1 {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
}

.chapter1__title--line {
  display: none;
}

.chapter1__content--aetna {
  background-color: var(--colorGrey);
  color: var(--colorBlack);
  padding-bottom: .5rem;
}

.chapter1__content--date {
  font-size: calc(150px + (170 - 150) * ((100vw - 320px) / (425 - 320)));
  text-align: center;
  margin-bottom: -1rem;
  padding-top: 2rem;
}

.chapter1__content--end {
  font-family: var(--fontPrimary);
  font-weight: var(--fontWeightRegular);
  font-size: calc(36px + (46 - 36) * ((100vw - 320px) / (425 - 320)));
  text-align: center;
}

/* CHAPTER 2 CHAPTER 2 CHAPTER 2 */

.chapter2__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
}

.chapter2__content1--img {
  margin-top: 4rem;
  font-size: 6.5rem;
  width: 100%;
  display: grid;
  place-content: center;
}

.img__text {
  width: max-content;
  margin-left: -1rem;
  background-image: url(assets/img/svg/dashed-lines.svg), url(assets/img/svg/color-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 235px;
  background-position: top, 88px top;
}

.chapter2__content1--text {
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 16rem;
}

.chapter2__content1--pagination {
  width: 13rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.chapter2__content--desktop {
  display: none;
}

.chapter2__background2 {
  background-color: var(--colorBlack);
  width: 100%;
  color: white;
}

.chapter2__background3 {
  width: 100%;
  background-color: var(--colorAccent);
}

.chapter2__content2--text {
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
  width: 90vw;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.chapter2__content3--text {
  font-size: 1.2rem;
  margin: 1.3rem;
  line-height: 1.8rem;
  margin-top: 3rem;
  text-align: center;
}

.chapter2__content3--letter {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.chapter2__content3--letter > img {
  width: 50vw;
  margin-bottom: 1rem;
}

.chapter2__content3--letter > p {
  margin-bottom: 3rem;
}

.chapter2__content3--letters {
  background-color: var(--colorGrey);
}

.chapter2__content3--r {
  padding-top: 2rem;
}

.chapter2__interaction {
  display: grid;
  place-content: center;
  grid-template: max-content / max-content;

}

.chapter2__content--b {
  width: 15rem;
  height: max-content;
  margin: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
}

.interaction__link {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 3;
  width: max-content;
  height: max-content;
}

.interaction__link--svg {
  width: 2rem;
}

.interaction__link--1 {
  margin-left: 15%;
  margin-top: 10%;
}

.interaction__link--2 {
  margin-left: 85%;
}

.interaction__link--3 {
  margin-top: 70%;
  margin-left: 90%;
}

.chapter2__background2 > .chapter2__wrapper > .chapter2__interaction > .chapter2__content--b > g > .outline {
  stroke: var(--colorWhite);
}

.chapter2__background2 > .chapter2__wrapper > .chapter2__content--b {
  padding-top: 4rem;
}

.chapter2__background3 > .chapter2__wrapper > .chapter2__interaction > .chapter2__content--b > g > .outline {
  stroke: var(--colorWhite);
}

.interaction__link:hover > .interaction__link--svg > g {
  fill: var(--colorAccent);
}

.chapter2__background3 > .chapter2__wrapper > .chapter2__interaction > .interaction__link:hover > .interaction__link--svg > g {
  fill: var(--colorWhite);
}

/* CHAPTER 3 CHAPTER 3 CHAPTER3 CHAPTER3 */

.chapter3__content {
  margin: calc(8px + (32 - 8) * ((100vw - 320px) / (768 - 320)));
}

.chapter3__content--p {
  font-size: 1.3rem;
}

.slot {
  background-color: var(--colorBlack);
  color: white;
}

.slot__title {
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  padding: 1rem;
}

.slot__title--big {
  font-size: 1.8rem;
}

.slot__title--small {
  font-size: 1rem;
}

.slot__font {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slot__font--thisWeek {
  font-size: 6rem;
  margin-top: 3rem;
}

.slot__font--nextWeek {
  font-size: 1.5rem;
}

.futura {
  font-family: var(--fontFutura);
  font-weight: var(--fontWeightMedium);
}

.fonts {
  margin-top: 3rem;
}

.font {
  line-height: 1.4rem;
  font-size: 1.2rem;
  margin: auto;
  width: max-content;
}

.font__date {
  font-size: 1rem;
}

.green {
  color: var(--colorAccent);
}

.grey {
  color: var(--colorDarkGrey);
}

.slot__link {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  padding-bottom: 5rem;
}

.slot__link--button {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  border: .1rem solid white;
  margin-bottom: 1rem;
  border-radius: 50px;
  padding: 0 1rem .5rem;
  text-align: center;
}

.footer {
  color: var(--colorWhite);
  font-size: .8rem;
  background-color: var(--colorBlack);
  padding-bottom: 1rem;
}

.footer__text {
  margin-left: 1rem;
}

.hidden {
  display: none;
}

/* RESPONSIVE PART STARTS HERE */

@media only screen and (min-width: 768px) {

  /*   HEADER */

  .header {
    background-color: var(--colorGrey);
  }

  .header__bg {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(13, 1fr);
  }

  .header__title {
    align-items: center;
    margin-top: 0;
  }

  .header__bg--whitespace {
    grid-column: 4 / 11;
    grid-row: 3 / 6;
  }

  .header__title--text {
    margin-top: 0;
    margin-top: 2rem;
  }

  .header__title--initial {
    width: 182px;
    height: 196px;
  }

  .header__title--big {
    font-size: 8rem;
  }

  .header__title--small {
    font-size: 2.5rem;
    margin-bottom: -1.5rem;
  }

  .header__title--cta {
    grid-column: 5 / 10;
    grid-row: 7 / 8;
    font-size: 1.5rem;
  }

  .header__letter--s {
    font-size: 1rem;
  }

  .header__letter--m {
    font-size: 1.5rem;
  }

  .header__letter--l {
    font-size: 3rem;
  }

  .header__letter--xl {
    font-size: 5rem;
    -webkit-text-fill-color: var(--colorGrey);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  /* PROLOGUE PROLOGUE PROLOGUE */

  .prologue__paintings {
    grid-template-columns: repeat(36, 35px);
    grid-template-rows: repeat(20, 35px);
  }

  .prologue__painting--1 {
    grid-column: 12 / 18;
    grid-row: 11 / 15;
  }

  .prologue__painting--2 {
    grid-column: 21 / 27;
    grid-row: 1 / 4;
  }

  .prologue__painting--3 {
    grid-column: 12 / 16;
    grid-row: 4 / 10;
  }

  .prologue__painting--4 {
    grid-column: 5 / 8;
    grid-row: 1 / 5;
  }

  .prologue__painting--5 {
    grid-column: 3 / 10;
    grid-row: 12 / 21;
  }

  .prologue__painting--6 {
    grid-column: 18 / 22;
    grid-row: 5 / 9;
  }

  .prologue__painting--7 {
    grid-column: 2 / 8;
    grid-row: 7 / 9;
  }

  .prologue__painting--8 {
    grid-column: 24 / 27;
    grid-row: 15 / 21;
  }

  .prologue__painting--9 {
    display: block;
    grid-column: 25 / 28;
    grid-row: 9 / 13;
  }

  .prologue__painting--10 {
    display: block;
    grid-column: 30 / 33;
    grid-row: 9 / 13;
  }

  .prologue__painting--11 {
    display: block;
    grid-column: 30 / 36;
    grid-row: 15 / 17;
  }

  .prologue__painting--12 {
    display: block;
    grid-column: 29 / 34;
    grid-row: 3 / 7;
  }

  .prologue__painting--13 {
    display: block;
    grid-column: 14 / 20;
    grid-row: 16 / 21;
  }

  /* CHAPTERS CHAPTERS CHAPTERS */

  .chapter__title {
    background-color: var(--colorGrey);
    color: var(--colorBlack);
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 90vw;
    place-content: center;
    height: 100vh;
  }

  .chapter__title--initial {
    display: none;
  }

  .chapter__title--rect {
    display: block;
    width: calc(128px + (400 - 128) * ((100vw - 768px) / (2560 - 768)));
    height: calc(128px + (400 - 128) * ((100vw - 768px) / (2560 - 768)));
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin: auto;
    z-index: 2;
    margin-bottom: -.5rem;
  }

  .chapter__title--text > span {
    color: var(--colorBlack);
  }

  .chapter__content--desktop {
    display: block;
  }

  /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

  .chapter__title--text {
    font-size: calc(128px + (400 - 128) * ((100vw - 768px) / (2560 - 768)));
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin: auto;
    z-index: 3;
  }

  .chapter__title--chapter {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: right;
    padding-right: 1rem;
    font-size: calc(48px + (150 - 48) * ((100vw - 768px) / (2560 - 768)));
    margin-bottom: 1rem;
  }

  .chapter__title-s {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-right: 2rem;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: max-content;
    place-content: top end;
  }

  .chapter__title--rect-s {
    display: none;
  }

  .chapter__title--text-s {
    font-size: calc(50px + (147 - 50) * ((100vw - 768px) / (2560 - 768)));
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    margin: auto;
    z-index: 3;
  }

  .chapter__title--chapter-s {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: right;
    font-size: calc(24px + (58 - 24) * ((100vw - 768px) / (2560 - 768)));
    padding-bottom: 4rem;
  }

  .chapter__content--p {
    font-size: calc(24px + (50 - 24) * ((100vw - 768px) / (2560 - 768)));
    line-height: 1.4;
    margin-left: 3rem;
    margin-bottom: 3.5rem;
  }

  .chapter1__content--aldus {
    width: 60vw;
  }

  .chapter__content--mobile {
    display: none;
  }

  .chapter1__content--aetna {
    background-color: var(--colorBlack);
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    color: var(--colorWhite);
  }

  .chapter1__content--date {
    font-size: calc(100px + (220 - 100) * ((100vw - 768px) / (2560 - 768)));
    color: var(--colorWhite);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: right;
  }

  .aetna__text {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 60vw;
    margin-top: 4rem;
  }

  .chapter1__content--hypner {
    margin-bottom: 8rem;
    margin-right: 40vw;
  }

  .chapter1__content--punchcutter {
    display: none;
  }

  .chapter2__wrapper {
    height: 100vh;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .chapter2__interaction {
    width: 25vw;
    margin: auto;
  }

  .chapter2__content--part {
    width: 60vw;
  }

  .chapter2__content2--text {
    margin-left: 7rem;
    width: 20rem;
  }

  .chapter2__content3--letters {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorAccent);
    margin: auto;
  }

  .chapter2__content3--letter {
    margin: 0;
  }

  .img__text {
    margin-left: 0;
    background-image: url(assets/img/svg/dashed-lines.svg), url(assets/img/svg/color-1.svg), url(assets/img/svg/color-2.svg), url(assets/img/svg/color-3.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 60px, 240px, 130px;
    background-position: top, 10px -50px, 85px top, 85px 25px;
  }

  .chapter2__content1--text {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .chapter2__content3--letter > img {
    width: 10vw;
  }

  .chapter2__content3--text {
    width: 50vw;
    margin: auto;
    margin-bottom: 2rem;
  }
  /*   CHAPTER 1 CHAPTER 1 CHAPTER 1 */

  .chapter1__content--end {
    font-size: calc(40px + (120 - 40) * ((100vw - 768px) / (2560 - 768)));
    text-align: center;
  }

  .name-tags {
    display: none;
  }

  .chapter2__content3--r {
    padding: 0;
  }

  .chapter3__title {
    place-content: end center;
    background-image: url(assets/img/svg/background-2to3.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .chapter3__content {
    margin: auto;
    background-image: url(assets/img/svg/background-t.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: top center;
    padding-top: 10rem;
    margin-top: -5rem;
    padding-bottom: 8rem;
  }

  .chapter3__title--rect {
    margin-left: 42vw;
    margin-top: -2rem;
  }

  .chapter3__content--text {
    width: calc(70rem + (90 - 70) * ((100vw - 48rem) / (120 - 48)));
    margin: auto;
    margin-top: -3rem;
  }

  .chapter3__content--p {
    font-size: calc(24px + (42 - 24) * ((100vw - 768px) / (1440 - 768)));
    width: calc(30rem + (60 - 30) * ((100vw - 48rem) / (120 - 48)));
  }

  .hidden {
    display: none;
  }

}

@media only screen and (min-width: 1024px) {

  .prologue__paintings {
    grid-template-columns: repeat(36, 40px);
    grid-template-rows: repeat(20, 40px);
  }

  .chapter__title-s {
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 10rem;
  }

  .chapter__title--chapter-s {
    margin-bottom: 1rem;
  }

  .chapter1__content {
    display: grid;
    grid-template-areas:
      'title title'
      'aldus tags '
      'aetna aetna'
      'h hypner'
      'slot slot';

    grid-template-rows: repeat(5, max-content);
    grid-template-columns: 50% 50%;
  }

  .chapter1__name {
    border: solid .1rem white;
    border-radius: 50px;
    width: max-content;
    margin-bottom: 1rem;
  }

  .chapter1__name--text {
    padding: 1.5rem 2rem .5rem;
    font-family: var(--fontPrimary);
    text-transform: uppercase;
    color: var(--colorAccent);
    font-size: calc(36px + (90 - 36) * ((100vw - 1024px) / (2560 - 1024)));
  }

  .chapter1__content--punchcutter {
    display: block;
    grid-area: h;
  }

  .chapter1__content--aetna {
    grid-area: aetna;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .chapter1__content--hypner {
    grid-area: hypner;
    height: max-content;
    margin-right: 2rem;
    margin-left: -1rem;
    margin-top: 12rem;
    margin-bottom: 0;
  }

  .chapter1__title-s {
    grid-area: title;
  }

  .chapter1__content--aldus {
    grid-area: aldus;
    width: 55vw;
  }

  .chapter1__content--end {
    grid-area: slot;
    margin-top: 8rem;
  }

  .name-tags {
    grid-area: tags;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .name-tags > .chapter1__name:nth-child(1) {
    transform: translate(150px, 0);
  }

  .name-tags > .chapter1__name:nth-child(2) {
    transform: translate(80px, 0);
  }

  .name-tags > .chapter1__name:nth-child(3) {
    transform: translate(200px, 0);
  }

  .name-tags > .chapter1__name:nth-child(4) {
    transform: translate(200px, 0);
  }

  .name-tags > .chapter1__name:nth-child(5) {
    transform: translate(80px, 0);
  }

  .punchcutter__svg {
    width: 633px;
    height: 569px;
    margin-left: -8rem;
  }

  .punchcutter__text {
    display: none;
  }

  .name__strong {
    border: .1rem solid white;
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 60px;
  }

  .chapter2__wrapper {
    flex-direction: row-reverse;
    width: 60rem;
    margin: auto;
    align-items: center;
  }

  .img__text {
    margin-left: 0;
    background-image: url(assets/img/svg/dashed-lines.svg), url(assets/img/svg/color-1.svg), url(assets/img/svg/color-2.svg), url(assets/img/svg/color-3.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 80px, 360px, 210px;
    background-position: top, 20px -50px, 135px top, 130px 30px;
  }

  .chapter2__content--b {
    margin-right: 0;
  }

  .chapter2__content--1 {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content max-content;
    margin-top: 2rem;
  }

  .chapter2__content--desktop {
    display: block;
  }

  .chapter2__content--mobile {
    display: none;
  }

  .chapter2__content1--text {
    margin: 0;
    margin-bottom: 1rem;
  }

  .chapter2__content1--img {
    grid-row: 2/3;
    grid-column: 1 / 3;
    font-size: 10rem;
    margin: 0;
  }

  .chapter2__text--axis {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: -1rem;
    text-align: left;
    display: block;
  }

  .chapter2__text--main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
    width: 21rem;
    margin-right: -1rem;
  }

  .chapter2__text--serif {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: -2rem;
    text-align: left;
    padding-left: 1rem;
  }

  .chapter2__text--thick {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-top: -2rem;
    text-align: left;
    margin-left: -2rem;
  }

  .chapter2__content2--text {
    width: max-content;
    margin: auto;
    margin-left: 5rem;
    background-color: var(--colorBlack);
  }

  .chapter2__background2 {
    background-image: url(assets/img/svg/part2-bg.svg);
    background-size: 66vw;
    background-repeat: no-repeat;
    background-position: -5vw center;
  }

  .chapter2__content3--text {
    font-size: 22px;
    width: 30rem;
  }

  .chapter2__content3--letters {
    width: 25rem;
  }

  .chapter2__content3--letter > img {
    width: 9rem;
  }

  .chapter3__content {
    background-size: 1000px;
  }

  .slot__content {
    width: 60rem;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .slot__font {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .fonts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .slot__font--thisWeek {
    font-size: 10rem;
  }

  .slot__font--nextWeek {
    font-size: 2.5rem;
    margin-top: -1rem;
  }

  .font {
    margin-left: 0;
    font-size: 2rem;
    line-height: 1.2;
  }

  .slot__link {
    grid-column: 1 / 2;
    grid-row: 2/ 3;
    align-items: flex-start;
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .slot__link--button {
    font-size: 2.5rem;
    padding: .2rem 3rem .5rem;
    border: .1rem white solid;
  }

  .slot__link--button:nth-child(2) {
    transform: translate(60px, 0);
  }

  .slot__title {
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .slot__title--big {
    font-size: 6rem;
  }

  .slot__title--small {
    font-size: 2rem;
    margin-bottom: -1rem;
  }

  .hidden {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {

  .header__bg {
    gap: 1rem;
  }

  .header__title--text {
    margin-top: -1rem;
    margin-left: .2rem;
  }

  .header__title--initial {
    width: 260px;
    height: 280px;
  }

  .header__title--big {
    font-size: 15rem;
  }

  .header__title--small {
    font-size: 4rem;
    margin-bottom: -4rem;
  }

  .header__title--cta {
    font-size: 1.5rem;
  }

  .header__letter--s {
    font-size: 1rem;
  }

  .header__letter--m {
    font-size: 2rem;
  }

  .header__letter--l {
    font-size: 3rem;
  }

  .header__letter--xl {
    font-size: 6rem;
  }

  .prologue__paintings {
    grid-template-columns: repeat(36, 50px);
    grid-template-rows: repeat(20, 50px);
  }

  .chapter1__content--aldus {
    width: 45vw;
  }

  .name-tags {
    margin-top: 3rem;
  }

  .chapter1__name {
    border-radius: 60px;
    margin-bottom: 1.5rem;
    margin-right: -4rem;
  }

  .name-tags > .chapter1__name:nth-child(1) {
    transform: translate(250px, 0);
  }

  .name-tags > .chapter1__name:nth-child(2) {
    transform: translate(80px, 0);
  }

  .name-tags > .chapter1__name:nth-child(3) {
    transform: translate(300px, 0);
  }

  .name-tags > .chapter1__name:nth-child(4) {
    transform: translate(400px, 0);
  }

  .name-tags > .chapter1__name:nth-child(5) {
    transform: translate(80px, 0);
  }

  .chapter1__content--punchcutter {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 1fr 1fr;
  }

  .punchcutter__svg {
    width: 1055px;
    height: 947px;
    margin-left: calc(-256px + (10 + 256) * ((100vw - 1440px) / (2560 - 1440)));
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .chapter1__content--aetna {
    margin-bottom: 10rem;
    margin-top: 8rem;
  }

  .chapter1__content--hypner {
    margin: 0;
    margin-top: 28rem;
    margin-left: 5rem;
    width: calc(38rem + (60 - 38) * ((100vw - 90rem) / (160 - 90)));
  }

  .punchcutter__text {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 30rem;
    font-size: 1.8rem;
    margin-top: 10rem;
    margin-left: calc(32px + (300 - 32) * ((100vw - 1440px) / (2560 - 1440)));
  }

  .chapter__title-s {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 10rem;
  }

  .chapter1__content--end {
    margin-top: 15rem;
  }

  .chapter__title--chapter-s {
    margin-bottom: 1.5rem;
  }

  .chapter2__wrapper {
    width: 80rem;
  }

  .chapter2__content--b {
    width: 30vw;
  }

  .interaction__link--svg {
    width: calc(56px + (95 - 56) * ((100vw - 1440px) / (2560 - 1440)));
  }

  .interaction__link--1 {
    margin-left: 15%;
    margin-top: 10%;
  }

  .interaction__link--2 {
    margin-top: 10%;
    margin-left: 85%;
  }

  .interaction__link--3 {
    margin-top: 80%;
    margin-left: 92%;
  }

  .img__text {
    font-size: 14rem;
    background-image: url(assets/img/svg/dashed-lines.svg), url(assets/img/svg/color-1.svg), url(assets/img/svg/color-2.svg), url(assets/img/svg/color-3.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 100px, 505px, 300px;
    background-position: top, 40px -50px, 185px top, 170px 50px;
  }

  .chapter2__text--axis {
    width: max-content;
    margin: 0;
  }

  .chapter2__text--main {
    margin-left: 12rem;
  }

  .chapter2__text--serif {
    margin-top: -3rem;
    padding-left: 10rem;
    width: max-content;
  }

  .chapter2__text--thick {
    margin-top: -3rem;
    margin-left: 6rem;
  }

  .chapter2__content--mobile {
    display: none;
  }

  .chapter2__content2--text {
    font-size: calc(32px + (48 - 32) * ((100vw - 1440px) / (2560 - 1440)));
    line-height: 1.2;
    margin-top: 2rem;
    margin-left: calc(32px + (-144 - 32) * ((100vw - 1440px) / (2560 - 1440)));

  }

  .chapter3__content {
    background-size: 1300px;
  }

  .slot__content {
    width: 80rem;
  }

  .slot__font--thisWeek {
    font-size: 15rem;
  }



}

@media only screen and (min-width: 2560px) {

  .header__title--initial {
    width: 520px;
    height: 560px;
  }

  .header__title--big {
    font-size: 22rem;
  }

  .header__title--text {
    margin-top: 2rem;
  }

  .header__title--small {
    font-size: 7rem;
    margin-bottom: -5.5rem;
  }

  .header__title--cta {
    font-size: 2rem;
  }

  .header__letter--s {
    font-size: 2rem;
  }

  .header__letter--m {
    font-size: 3rem;
  }

  .header__letter--l {
    font-size: 5rem;
  }

  .header__letter--xl {
    font-size: 10rem;
  }

  .prologue__paintings {
    grid-template-columns: repeat(36, 90px);
    grid-template-rows: repeat(20, 90px);
  }

  .chapter1__content--aetna {
    margin-top: 10rem;
  }

  .chapter2__wrapper {
    width: 100rem;
  }
}
