@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

/* GENERAL */

body {
  font-family: var(--fontSecundary);
  font-weight: var(--fontWeightLight);
}

li {
  line-height: 1.8;
}

.pagetitle {
  font-size: var(--fontBig);
}

.hidden {
  display: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu__link {
  color: var(--colorBlack);
  text-decoration: none;
  text-align: right;
  padding: var(--spacerRegular);
}

/* HEADER */

